* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #808080;
  --clr-title: #000;
  --clr-button: #2d2dda;
  --bg-form: #f5f5f5;
  --font-family:'Inter', sans-serif;
  --bg-color: #ffffff;
  --form-border: #f6f6f6;
}

body {
  height: 100vh;
  background: var(--bg-color);
  display: flex;
/*   align-items: center; */
  justify-content: center;
  font-family: var(--font-family);
}

.container {
  text-align: center;
  max-width: 500px;
}

.news-title {
  margin-top: 1rem;
  
}

.news-text {
  margin-top: 1.2rem;
  margin-bottom: 4.5rem;
  color: var(--clr-primary);
}

.news-form {
  background: var(--bg-color);
  max-width: 450px;
  margin: auto;
  padding: 1rem;
  background: var(--bg-color);
  border-radius: 12px;
  box-shadow: -4px 0 6px -2px rgba(0, 0, 0, 0.1), 4px 0 6px -2px rgba(0, 0, 0, 0.1),   0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 0.7rem;
  border: 1px solid var(--form-border);
  background: var(--bg-form);
}

input:hover {
  border: none;
}

input::placeholder {
  text-align: center;
  color: #000;
  font-size: 0.8rem;
}

input[type="submit"] {
  background: var(--clr-button);
  color: var(--bg-color);
  font-size: 0.8em;
}

.news-form-footer {
  font-size: 0.7rem;
  color: var(--clr-primary);
}

@media screen and (min-width:412px) {
  .container {
    padding: 1.5rem;
  }

  .news-text {
    line-height: 1.5;
  }

  input::placeholder {
    font-size: 0.9rem;
  }

  input[type="submit"] {
    font-size: 0.9rem;
  }

  .news-form-footer {
    font-size: 0.9rem;
    text-align: left;
  }
}
